#"Copyright (c) 2019-present Lenovo
#Licensed under BSD-3, see COPYING.BSD file for details."


[Unit]
Description=Phosphor fpga test

[Service]
Restart=no
#ExecStart=/usr/bin/env flash-fpga 
#SyslogIdentifier=flash-fpga
ExecStart=/usr/bin/env write_cpld_version.sh
#SyslogIdentifier=flash-fpga
SyslogIdentifier=write_cpld_version.sh

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
